{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="col-12">
  <h1 id="home_heading">Process Automation Tools - {% trans 'Home' %}</h1>
</div>
<div class="col-4">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title" id="card_title_expense_refund">{% trans 'Expense Refund' %}</h5>
      <p id="card_description_expense_refund">{% trans 'Request to have your expenses refunded.' %}</p>
      <a href="/refund/" class="card-link" id="card_link_expense_refund">Form</a>
    </div>
  </div>
</div>
{% endblock %}